# JWT
JWT_SECRET=coloque-uma-chave-forte-aqui
JWT_ISSUER=EscolaApi
JWT_AUDIENCE=EscolaApiUsers
JWT_TTL_MINUTES=60

# Turso
AUTH_DB_URL=libsql://auth-db-carlos9027.aws-us-west-2.turso.io
AUTH_DB_TOKEN=seu_token_auth_aqui

ESCOLA_DB_URL=libsql://escola-db-carlos9027.aws-us-west-2.turso.io
ESCOLA_DB_TOKEN=seu_token_escola_aqui

# URLs (Render vai sobrescrever)
APP_URL=https://escola-auth.onrender.com
PUBLIC_API_URL=https://escola-backend.onrender.com
PUBLIC_AUTHAPI_URL=https://escola-auth.onrender.com
CORS_ORIGINS=https://escola-frontend.onrender.com